body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4; /* Cor de fundo */
    color: #333; /* Cor do texto */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff; /* Cor do fundo da caixa */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra da caixa */
}

h1, h2 {
    color: #3498db; /* Cor do título */
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555; /* Cor do rótulo */
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc; /* Cor da borda do input */
    border-radius: 4px;
}

button {
    background-color: #3498db; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9; /* Cor de fundo do botão ao passar o mouse */
}

#contactList {
    border-top: 1px solid #ddd; /* Linha superior separando a lista de contatos */
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ddd; /* Linha separadora entre os contatos */
}

li:last-child {
    border-bottom: none; /* Remover linha separadora do último contato */
}